.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #2a2a2a;
  color: white;
  z-index: 1000;
}

.logo-image {
  height: 50px; /* Adjusted for a more balanced size */
  width: auto;  /* Keeps the aspect ratio */
  max-width: 100%; /* Ensures it scales with the header */
  object-fit: contain; /* Ensures it fits within the box without distortion */
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  /* margin: 0 10px; Adds a bit of space around the logo */
}


.search-bar {
  flex: 1;
  max-width: 400px;
  margin: 0 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff; /* Ensures the background is white */
  color: #333; /* Sets text color to be visible on white background */
  font-size: 1rem;
}

.search-bar::placeholder {
  color: #888; /* Placeholder color */
}

.profile-icon {
  font-size: 1.5rem;
}



  